  <div class="nav-container">
    <div class="top-navigation">
      <ul>
        <li class="user-details" *ngIf="(isLoggedIn$ | async) === true">Hello, {{currentUser$ | async}} <span>{{currentUserRole$ | async}}</span></li>
        <li class="user-details" *ngIf="(currentUserRole$ | async) === 'ADMIN'"><a routerLink="/products/add-products-to-the-cart">Add Products to Shopping Cart</a><span>only for {{currentUserRole$ | async}}s</span></li>
        <li *ngIf="(isLoggedIn$ | async) === false"><a routerLink="/login">Login</a></li>
        <li *ngIf="(isLoggedIn$ | async) === true"><button class="button button-primary" (click)="userSignOut()">Logout</button></li>
      </ul>
    </div>
    <div class="secondary-navigation">
    <h3 class="logo"><a routerLink="/products">ONLINE<br/> <span>SHOPPING</span></a></h3>
    <app-product-search-input></app-product-search-input>
    <ul class="nav-right">
      <li><a class="cart" routerLink="/products/cart">Shopping Cart
        <span class="badge">{{ shoppingCartLength$ | async}}</span>
      </a>
      </li>
    </ul>
  </div>
  </div>
