  <div class="nav-container">
    <h3 class="logo"><a routerLink="/products">ONLINE SHOPPING</a></h3>
    <ul class="nav-right">
      <li *ngIf="!isLogin"><button (click)="userAuth()">Login</button></li>
      <li *ngIf="isLogin"><button (click)="userAuth()">Logout</button></li>
      <li *ngIf="isLogin">Logged in as {{currentUser$ | async}}</li>
      <li *ngIf="(currentUserRole$ | async) === 'ADMIN'">ONLY FOR ADMINS {{currentUserRole$ | async}}</li>
      <li>{{currentUserRole$ | async}}</li>
      <li><a class="cart" routerLink="/products/cart">Shopping Cart
        <span class="badge">{{ shoppingCartLength$ | async}}</span>
      </a>
      </li>
    </ul>
  </div>
