<div class="login-page">
  <div class="login-form">
    <h2 class="message">
      <span>USER LOGIN</span><br />
      <span>use</span><br />
      Admin <span>or</span> User <span><br />credentials to login</span>
    </h2>
    <p *ngIf="errorvalues || (loginerror$ | async)" class="error-message">
      Invalid inputs, please try again
    </p>
    <form [formGroup]="authform" (ngSubmit)="checkAuth()">
      <input
        type="text"
        placeholder="enter your email"
        formControlName="email"
        class="input"
        [ngClass]="{ 'is-invalid': submitted && formvalues['email'].invalid }"
      />
      <button class="login-button" type="submit">Login</button>
    </form>
  </div>
</div>
