
<div class="product-container">
  <div class="product" *ngFor="let item of products$ | async; index as index;">
    <img src="{{ item.images }}" alt="{{ item.name }}" />
    <p class="product-name">{{ item.name }}</p>
    <p class="product-description">{{ item.description }}</p>
    <p class="product-price">{{ item.price | currency: "£" }}</p>
    <button type="button" class="button-primary" (click)="addToCart(item)">Add to cart</button>
  </div>
</div>

<div
  class="search-results"
  infiniteScroll
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="30"
  (scrolled)="onScrollDown()"
  (scrolledUp)="onScrollUp()"
>
  <app-loading-spinner></app-loading-spinner>
</div>
