<div class="product-container">
  <div class="product">
    <img src="product-image.jpg" />
    <p class="product-name">title</p>
    <p class="product-description">description</p>
    <p class="product-price">price</p>
    <button class="add-to-cart">Add to cart</button>
  </div>
  <div class="product">
    <img src="product-image.jpg" />
    <p class="product-name">title</p>
    <p class="product-description">description</p>
    <p class="product-price">price</p>
    <button class="add-to-cart">Add to cart</button>
  </div>
  <div class="product">
    <img src="product-image.jpg" />
    <p class="product-name">title</p>
    <p class="product-description">description</p>
    <p class="product-price">price</p>
    <button class="add-to-cart">Add to cart</button>
  </div>
  <div class="product">
    <img src="product-image.jpg" />
    <p class="product-name">title</p>
    <p class="product-description">description</p>
    <p class="product-price">price</p>
    <button class="add-to-cart">Add to cart</button>
  </div>
  <div class="product">
    <img src="product-image.jpg" />
    <p class="product-name">title</p>
    <p class="product-description">description</p>
    <p class="product-price">price</p>
    <button class="add-to-cart">Add to cart</button>
  </div>
  <div class="product">
    <img src="product-image.jpg" />
    <p class="product-name">title</p>
    <p class="product-description">description</p>
    <p class="product-price">price</p>
    <button class="add-to-cart">Add to cart</button>
  </div>
  <div class="product">
    <img src="product-image.jpg" />
    <p class="product-name">title</p>
    <p class="product-description">description</p>
    <p class="product-price">price</p>
    <button class="add-to-cart">Add to cart</button>
  </div>
  <div class="product">
    <img src="product-image.jpg" />
    <p class="product-name">title</p>
    <p class="product-description">description</p>
    <p class="product-price">price</p>
    <button class="add-to-cart">Add to cart</button>
  </div>
</div>
