@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&display=swap");

$base-color-green: #4fcbcc;
$base-color-red: #7c290a;
$base-color-purple: #3f0788;
$base-color-purple-dark: #570db8;
$base-color-purple-dark-20: #40078b;

$base-color-blue: #0f4bbd;
$base-color-blue-dark: #2d0cbd;
$base-color-blue-light: #0f4bbd;

$base-color-white: #ffffff;

$secondary-color-grey-light: #cecece;
$secondary-color-grey-light-50: #fefefe;
$secondary-color-grey-light-30: #f2f2f2;
$secondary-color-grey-dark: #b3b3b3;
$secondary-color-grey-dark-50: #666666;

$secondary-color-danger: #dc3545;
$secondary-color-danger-dark: #ca410f;
$secondary-color-success: #28a745;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  padding-top: 160px;
}

a {
  color: $base-color-green;
  text-decoration: none;
  &:hover {
    color: $base-color-red;
  }
}

.header {
  font-size: 2rem;
  padding: 12px;
  text-align: center;
}

.login-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70vh;
  .login-form {
    width: 360px;
    max-width: 50%;
    padding: 45px;
    text-align: center;
    border: 1px solid $secondary-color-grey-light;
    justify-content: center;
    .message {
      margin: 15px 0;
      color: $secondary-color-grey-dark;
      font-size: 1.5rem;
      font-weight: bold;
      span {
        font-size: 1rem;
        font-weight: normal;
      }
      a {
        color: $secondary-color-success;
        text-decoration: none;
      }
    }
    .login-button {
      background-color: $base-color-blue;
      width: 50%;
      justify-content: center;
      align-items: center;
      outline: 0;
      border: 0;
      padding: 15px;
      color: $base-color-white;
      cursor: pointer;
      font-weight: 700;
      font-size: 1rem;
    }
    .input {
      outline: 0;
      width: 100%;
      border: 1px solid $secondary-color-grey-light;
      margin: 0 0 15px;
      padding: 15px;
    }
  }
}

.input {
  outline: 0;
  width: 100%;
  border: 1px solid $secondary-color-grey-light;
  margin: 0 0 15px;
  padding: 15px;
}

.form-primary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100vh;
}

.align-left {
  align-items: flex-start;
  justify-content: start;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.width20 {
  width: 20%;
  text-align: right;
  font-size: 0.8rem;
  padding: 20px;
}
.add-products-page {
  width: 100%;
  padding: 45px;
  text-align: center;
  justify-content: center;
  .message {
    margin: 15px 0;
    font-size: 1.5rem;
    font-weight: bold;
    span {
      font-size: 1rem;
      font-weight: normal;
    }
    a {
      color: $secondary-color-success;
      text-decoration: none;
    }
  }
  .login-button {
    background-color: $base-color-blue;
    width: 50%;
    justify-content: center;
    align-items: center;
    outline: 0;
    border: 0;
    padding: 15px;
    color: $base-color-white;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
  }
}

.logo {
  a {
    text-decoration: none;
    color: $base-color-purple;
    text-align: center;
    font-size: 1.5rem;
    span{
      font-size: 1.2rem;
    }
    &:hover {
      color: $secondary-color-danger-dark;
    }
  }
}

.product-search-input {
  padding: 16px 16px 16px 32px;
  border: 0;
  outline: 0;
  background-image: url("./assets/search.png");
  background-position: 8px 18px;
  background-repeat: no-repeat;
  border: 1px solid $secondary-color-grey-light;
  margin: 2px auto;
  width: 50vw;
  display: flex;
}

.search {
  background-color: $base-color-purple;
  padding: 4px 30px;
  border: 0;
  outline: 0;
  color: $base-color-white;
  font-weight: 900;
  cursor: pointer;
  &:hover {
    background-color: $base-color-purple-dark;
  }
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 300px));
  grid-gap: 5px;
  justify-content: space-around;
  text-align: center;
  .product {
    padding: 10px;
    background: $secondary-color-grey-light-50;
    border: 1px solid $secondary-color-grey-light-30;
    margin-bottom: 12px;
    list-style: none;
    img {
      width: 98%;
    }
    .product-name {
      font-size: 1.2rem;
      font-weight: bold;
      margin: 4px 0;
      padding: 12px;
    }
    .product-description {
      font-size: 1rem;
      padding: 10px;
    }
    .product-price {
      font-size: 1.3em;
      font-weight: 700;
      padding: 12px;
      color: $base-color-purple-dark;
    }
  }
}

.button {
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 0.8rem;
  color: $base-color-white;
  margin-left: 4px;
  cursor: pointer;
}

.button-primary {
  border: 1px solid $secondary-color-success;
  background-color: $secondary-color-success;
  &:hover {
    border: 1px solid $base-color-blue-dark;
    background-color: $base-color-blue-light;
  }
}

.font-large {
  font-size: 1.5rem;
}
.text-right {
  text-align: right;
}
.button-danger {
  border: 1px solid #910a2c;
  background-color: #be4d25;
  &:hover {
    border: 1px solid #be4d25;
    background-color: #ad190f;
  }
}

.button-secondary {
  border: 1px solid $base-color-blue-dark;
  background-color: $base-color-blue-light;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  color: $base-color-white;

  width: 50%;
  margin: 20px auto;

  font-weight: 700;
  font-size: 1rem;

  &:hover {
    border: 1px solid $base-color-purple-dark;
    background-color: $base-color-purple-dark-20;
  }
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  background-color: $secondary-color-grey-light-50;
  border-bottom: 1px solid $base-color-purple;
  top: 0;

  .top-navigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: #efefef;
    padding: 10px;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    text-align: right;
    justify-content: end;
    ul {
      display: flex;
      flex-direction: row;
      li {
        list-style: none;
        padding: 2px 12px;
      }
      .user-details {
        display: flex;
        flex-direction: column;
        span {
          font-size: 0.5rem;
          color: $secondary-color-grey-dark-50;
        }
      }
    }
  }
  .secondary-navigation {
    display: flex;
    padding: 20px;
    justify-content: space-between;
  }

  .nav-right {
    display: flex;
    flex-direction: row;
    li {
      list-style: none;
      padding: 4px 8px;
    }
    .user-details {
      display: flex;
      flex-direction: column;
      span {
        font-size: 0.5rem;
        color: $secondary-color-grey-dark-50;
      }
    }
  }
}

.error-message {
  color: $secondary-color-danger;
  font-size: 0.85rem;
  margin: 8px auto 12px auto;
}
.is-invalid {
  border-color: $secondary-color-danger !important;
}

.cart {
  position: relative;
  border: 0;
  background: transparent;
}

.badge {
  width: 24px;
  height: 24px;
  font-size: 16px;
  color: $base-color-white;
  border-radius: 40px;
  margin: auto;
  background: $base-color-purple;
  padding: 6px 12px;
  margin-left: 12px;
}

button:disabled,
button[disabled] {
  border: 1px solid $secondary-color-grey-dark-50 !important;
  background-color: $secondary-color-grey-light !important;
  color: $secondary-color-grey-dark-50 !important;
}

.shopping-cart-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  text-align: center;
}

.color-secondary {
  color: $base-color-purple-dark;
}


.success{
  color: $secondary-color-success;
  padding: 20px;
}


.column-labels {
  display: flex;
  width: 80%;
  margin: 0 auto;
  border: 1px solid #dedede;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  font-weight: 700;
}

.shopping-cart-product-container {
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 1px solid #dadada;
  width: 80%;
  margin: 0 auto;
  .cart-item {
    display: flex;
    flex: 1;
    font-size: 14px;
    padding: 8px 0;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: left;
    img {
      width: 60%;
    }
  }

  .product-details {
    flex-direction: column;
    justify-content: start;

    .product-name {
      text-align: left;
    }
  }
}
