@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.header {
  font-size: 2rem;
  padding: 12px;
  text-align: center;
}

.login-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .login-form {
    width: 360px;
    max-width: 50%;
    padding: 45px;
    text-align: center;
    border: 1px solid #cecece;
    justify-content: center;
    .message {
      margin: 15px 0;
      color: #b3b3b3;
      font-size: 1.5rem;
      font-weight: bold;
      span {
        font-size: 1rem;
        font-weight: normal;
      }
      a {
        color: #4caf50;
        text-decoration: none;
      }
    }
    .login-button {
      background-color: rgb(7, 94, 207);
      width: 50%;
      justify-content: center;
      align-items: center;
      outline: 0;
      border: 0;
      padding: 15px;
      color: #ffffff;
      cursor: pointer;
      font-weight: 700;
      font-size: 1rem;
    }
    .input {
      outline: 0;
      width: 100%;
      border: 1px solid #cecece;
      margin: 0 0 15px;
      padding: 15px;
    }
  }
}

.product-search-box {
  border: 1px solid #cecece;
  margin: 14px auto 20px auto;
  padding: 16px 16px 16px 32px;
  width: 80%;
  display: flex;
  background-image: url("./assets/search.png");
  background-position: 8px 18px;
  background-repeat: no-repeat;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 300px));
  grid-gap: 5px;
  justify-content: space-around;
  text-align: center;
  .product {
    padding: 10px;
    background: #fefefe;
    border: 1px solid #f2f2f2;
    margin-bottom: 12px;
    list-style: none;
    img {
      width: 98%;
    }
    .product-name {
      font-size: 1.2rem;
      font-weight: bold;
      margin: 4px 0;
      padding: 12px;
    }
    .product-description {
      font-size: 1rem;
      padding: 10px;
    }
    .product-price {
      font-size: 1.3em;
      font-weight: 700;
      padding: 12px;
      color: cadetblue;
    }
    .add-to-cart {
      border: 1px solid #7c290a;
      background-color: #ca410f;
      padding: 10px 30px;
      border-radius: 30px;
      cursor: pointer;
      color: #fff;
      &:hover {
        border: 1px solid #be4d25;
        background-color: #ad190f;
      }
    }
  }
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;

  .nav-right {
    display: flex;
    flex-direction: row;
    li {
      list-style: none;
      padding: 4px 8px;
    }
  }
}

.error-message {
  color: #dc3545;
  font-size: 0.85rem;
  margin: 8px auto 12px auto;
}
.is-invalid {
  border-color: #dc3545 !important;
}
