<h2 class="header">SMART RETAIL SHOP<br />SHOPPING CART</h2>

<div class="shopping-cart" *ngIf="isShoppingCartVisible; else noData">
  <div class="column-labels">
    <div>Image</div>
    <div>Product</div>
    <div>Price</div>
    <div>Remove</div>
  </div>

  <div
    class="shopping-cart-product-container"
    *ngFor="let item of shoppingCartItems$ | async; index as index"
  >
    <div class="cart-item">
      <img src="{{ item.images }}" alt="{{ item.name }}" />
    </div>
    <div class="cart-item product-details">
      <p class="product-name">{{ item.name }}</p>
      <p class="product-description">{{ item.description }}</p>
    </div>
    <div class="cart-item">{{ item.price | currency: "£" }}</div>
    <div class="cart-item">
      <button
        type="button"
        class="button-primary"
        (click)="removeFromCart(item)"
      >
        Remove Item
      </button>
    </div>
  </div>
</div>

<ng-template #noData>
  <div class="cart-item product-details">
    <h2 class="header color-secondary">
      No items to show in the cart, please add items...
    </h2>
    <a routerLink="/products">Go to Products page</a>
  </div>
</ng-template>
